/*----------------Serviços---------------------------------------*/
.section-servicos {
    margin-top: 50px;
    padding-top: 50px;
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, auto);
    gap: 20px 20px;
}

    .section-servicos .texto-servicos {
        grid-row: 1;
        grid-column: 3/11;
        margin-top: 50px;
        opacity: 1;
        transition: 1.5s;
        /* transform: translate(0px, 80px); */
    }

        .section-servicos .texto-servicos h2 {
            font-size: 50px;
            font-weight: normal;
            padding: 10px ;
            margin-top: 0;
            text-align: center;
        }


/*----------------Flip-card-1---------------------------------------*/
    .flip-card-1 {
        grid-row: 2;
        grid-column: 3/7;
        background-color: transparent;
        perspective: 1000px; 
    }

    .servico-1 {
        /* position: relative;
        width: 100%;
        height: 100%; */
        text-align: left;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        
    }

    /* .flip-card-1:hover .servico-1 {
        transform: rotateY(180deg);
    } */

    .servico-1-front, .servico-1-back {
        /* position: absolute;
        width: 100%;
        height: 100%; */
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }

    .servico-1-front {
        grid-column: 1/5;
        grid-row: 1;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        align-items: center;
        justify-items: left;
        background-color:#3a3a3a;
        border-radius: 10px;
    }

    .servico-1-front p {
        grid-column: 1/5;
        grid-row: 1;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 14px;
        text-align: left;
        margin: 15px;
    }

    .servico-1-front .btn-mais-1, .servico-1-back .btn-voltar-1 {
        grid-column: 1/5;
        grid-row: 3;
        display: flex; /* aqui */
        justify-content: center; /* aqui */
        width: 100%;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
              
    }

    .servico-1-front .btn-mais-1 p {
        text-align: center;
        cursor: pointer;
        margin:  15px 10px; /* aqui */
    }

    .servico-1-back .btn-voltar-1 p{
        text-align: center;
        cursor: pointer;
        grid-row: 2;
        margin:  15px 10px; /* aqui */
    }

    .servico-1-front .btn-mais-1 p:hover, .servico-1-back .btn-voltar-1 p:hover{
        color: #fbca4a;
    }
    

    .servico-1-back {
        height: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        align-items: flex-end;
        transform: rotateY(-180deg);
        grid-column: 1/5;
        grid-row: 1;
        text-align: center;
        background-color:#3a3a3a;
        border-radius: 10px;
    }

    


  

/*----------------Flip-card-2---------------------------------------*/

.flip-card-2 {
    grid-row: 2;
    grid-column: 7/11;
    background-color: transparent;
    perspective: 1000px; 
}

.servico-2 {
    /* position: relative;
    width: 100%;
    height: 100%; */
    text-align: left;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
}

/* .flip-card-1:hover .servico-1 {
    transform: rotateY(180deg);
} */

.servico-2-front, .servico-2-back {
    /* position: absolute;
    width: 100%;
    height: 100%; */
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.servico-2-front {
    grid-column: 1/5;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    justify-items: left;
    background-color:#3a3a3a;
    border-radius: 10px;
}

.servico-2-front p {
    grid-column: 1/5;
    grid-row: 1;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    text-align: left;
    margin: 15px;
}

.servico-2-front .btn-mais-2, .servico-2-back .btn-voltar-2 {
    grid-column: 1/5;
    grid-row: 3;
    display: flex; 
    justify-content: center; 
    width: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
          
}

.servico-2-front .btn-mais-2 p {
    text-align: center;
    cursor: pointer;
    margin:  15px 10px;
}

.servico-2-back .btn-voltar-2 p{
    text-align: center;
    cursor: pointer;
    grid-row: 2;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin:  15px 10px;
}

.servico-2-front .btn-mais-2 p:hover, .servico-2-back .btn-voltar-2 p:hover{
    color: #fbca4a;
}


.servico-2-back {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-items: flex-end;
    transform: rotateY(180deg);
    grid-column: 1/5;
    grid-row: 1;
    text-align: center;
    background-color:#3a3a3a;
    border-radius: 10px;
}
/*----------------Flip-card-3---------------------------------------*/
.flip-card-3 {
    grid-row: 3;
    grid-column: 3/7;
    background-color: transparent;
    perspective: 1000px; 
}

.servico-3 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
}

/* .flip-card-3:hover .servico-3 {
    transform: rotateY(180deg);
} */

.servico-3-front, .servico-3-back {
    /* position: absolute;
    width: 100%;
    height: 100%; */
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.servico-3-front {
    grid-column: 1/5;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    justify-items: left;
    background-color:#3a3a3a;
    border-radius: 10px;
}

.servico-3-front p {
    grid-column: 1/5;
    grid-row: 1;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    text-align: left;
    margin: 15px;
}
.servico-3-front .btn-mais-3, .servico-3-back .btn-voltar-3 {
    grid-column: 1/5;
    grid-row: 3;
    display: flex; 
    justify-content: center;
    width: 100%; 
    -webkit-tap-highlight-color: rgba(0,0,0,0);      
}

.servico-3-front .btn-mais-3 p {
    text-align: center;
    cursor: pointer;
    margin:  15px 10px;
}

.servico-3-back .btn-voltar-3 p{
    text-align: center;
    cursor: pointer;
    grid-row: 2;
    margin:  15px 10px;
}

.servico-3-front .btn-mais-3 p:hover, .servico-3-back .btn-voltar-3 p:hover{
    color: #fbca4a;
}


.servico-3-back {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-items: flex-end;
    transform: rotateY(-180deg);
    grid-column: 1/5;
    grid-row: 1;
    text-align: center;
    background-color:#3a3a3a;
    border-radius: 10px;
}
/*----------------Flip-card-4---------------------------------------*/
.flip-card-4 {
    grid-row: 3;
    grid-column: 7/11;
    background-color: transparent;
    perspective: 1000px; 
}

.servico-4 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
}

/* .flip-card-4:hover .servico-4 {
    transform: rotateY(-180deg);
} */

.servico-4-front, .servico-4-back {
    /* position: absolute;
    width: 100%;
    height: 100%; */
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.servico-4-front {
    grid-column: 1/5;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    justify-items: left;
    background-color:#3a3a3a;
    border-radius: 10px;
}

.servico-4-front p {
    grid-column: 1/5;
    grid-row: 1;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    text-align: left;
    margin: 15px;
}

.servico-4-front .btn-mais-4, .servico-4-back .btn-voltar-4 {
    grid-column: 1/5;
    grid-row: 3;
    display: flex; 
    justify-content: center;
    width: 100%;    
    -webkit-tap-highlight-color: rgba(0,0,0,0);   
}

.servico-4-front .btn-mais-4 p {
    text-align: center;
    cursor: pointer;
    margin:  15px 10px;
}

.servico-4-back .btn-voltar-4 p{
    text-align: center;
    cursor: pointer;
    grid-row: 2;
    margin:  15px 10px;
}

.servico-4-front .btn-mais-4 p:hover, .servico-4-back .btn-voltar-4 p:hover{
    color: #fbca4a;
}


.servico-4-back {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-items: flex-end;
    transform: rotateY(180deg);
    grid-column: 1/5;
    grid-row: 1;
    text-align: center;
    background-color:#3a3a3a;
    border-radius: 10px;
}
/*----------------Flip-card-5---------------------------------------*/
.flip-card-5 {
    grid-row: 4;
    grid-column: 3/7;
    background-color: transparent;
    perspective: 1000px; 
}

.servico-5 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
}

/* .flip-card-5:hover .servico-5 {
    transform: rotateY(180deg);
} */

.servico-5-front, .servico-5-back {
    /* position: absolute;
    width: 100%;
    height: 100%; */
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.servico-5-front {
    grid-column: 1/5;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    justify-items: left;
    background-color:#3a3a3a;
    border-radius: 10px;
}

.servico-5-front p {
    grid-column: 1/5;
    grid-row: 1;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    text-align: left;
    margin: 15px;
}

.servico-5-front .btn-mais-5, .servico-5-back .btn-voltar-5 {
    grid-column: 1/5;
    grid-row: 3;
    display: flex; 
    justify-content: center;
    width: 100%;      
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

.servico-5-front .btn-mais-5 p {
    text-align: center;
    cursor: pointer;
    margin:  15px 10px;
}

.servico-5-back .btn-voltar-5 p{
    text-align: center;
    cursor: pointer;
    grid-row: 2;
    margin:  15px 10px;
}

.servico-5-front .btn-mais-5 p:hover, .servico-5-back .btn-voltar-5 p:hover{
    color: #fbca4a;
}


.servico-5-back {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-items: flex-end;
    transform: rotateY(-180deg);
    grid-column: 1/5;
    grid-row: 1;
    text-align: center;
    background-color:#3a3a3a;
    border-radius: 10px;
}
/*----------------Flip-card-6---------------------------------------*/
.flip-card-6 {
    grid-row: 4;
    grid-column: 7/11;
    background-color: transparent;
    perspective: 1000px; 
}

.servico-6 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
}

/* .flip-card-6:hover .servico-6 {
    transform: rotateY(-180deg);
} */

.servico-6-front, .servico-6-back {
    /* position: absolute;
    width: 100%;
    height: 100%; */
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.servico-6-front {
    grid-column: 1/5;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    justify-items: left;
    background-color:#3a3a3a;
    border-radius: 10px;
}

.servico-6-front p {
    grid-column: 1/5;
    grid-row: 1;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    text-align: left;
    margin: 15px;
}

.servico-6-front .btn-mais-6, .servico-6-back .btn-voltar-6 {
    grid-column: 1/5;
    grid-row: 3;
    display: flex; 
    justify-content: center;
    width: 100%;       
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.servico-6-front .btn-mais-6 p {
    text-align: center;
    cursor: pointer;
    margin:  15px 10px;
}

.servico-6-back .btn-voltar-6 p{
    text-align: center;
    cursor: pointer;
    grid-row: 2;
    margin:  15px 10px;
}

.servico-6-front .btn-mais-6 p:hover, .servico-6-back .btn-voltar-6 p:hover{
    color: #fbca4a;
}


.servico-6-back {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-items: flex-end;
    transform: rotateY(180deg);
    grid-column: 1/5;
    grid-row: 1;
    text-align: center;
    background-color:#3a3a3a;
    border-radius: 10px;
}
/*----------------Flip-card-7---------------------------------------*/
.flip-card-7 {
    grid-row: 5;
    grid-column: 5/9;
    background-color: transparent;
    perspective: 1000px; 
}

.servico-7 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
}

/* .flip-card-6:hover .servico-6 {
    transform: rotateY(-180deg);
} */

.servico-7-front, .servico-7-back {
    /* position: absolute;
    width: 100%;
    height: 100%; */
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.servico-7-front {
    grid-column: 1/5;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    justify-items: left;
    background-color:#3a3a3a;
    border-radius: 10px;
}

.servico-7-front p {
    grid-column: 1/5;
    grid-row: 1;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    text-align: left;
    margin: 15px;
}

.servico-7-front .btn-mais-7, .servico-7-back .btn-voltar-7 {
    grid-column: 1/5;
    grid-row: 3;
    display: flex; 
    justify-content: center;
    width: 100%;       
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.servico-7-front .btn-mais-7 p {
    text-align: center;
    cursor: pointer;
    margin:  15px 10px;
}

.servico-7-back .btn-voltar-7 p{
    text-align: center;
    cursor: pointer;
    grid-row: 2;
    margin:  15px 10px;
}

.servico-7-front .btn-mais-7 p:hover, .servico-7-back .btn-voltar-7 p:hover{
    color: #fbca4a;
}


.servico-7-back {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-items: flex-end;
    transform: rotateY(180deg);
    grid-column: 1/5;
    grid-row: 1;
    text-align: center;
    background-color:#3a3a3a;
    border-radius: 10px;
}
/*-------------------------------------------------------*/
    .servicos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        align-items: center;
        border-radius: 10px;
        
        
    }

        .servicos img {
            grid-column: 1;
            grid-row: 1;
            margin: 15px;
            border-radius: 5px;
           
            
        }

        .servicos h3 {
            font-size: 28px;
            grid-column: 2/5;
            grid-row: 1;
            margin: 15px; 
        }

        .servicos .flip-icon {
            margin: 0;
            width: 15px;
            height: auto;
        }

        .servicos p {
            
            grid-column: 1/5;
            grid-row: 2;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 14px;
            text-align: justify;
            margin: 15px;
        }

    

        .svg-servicos {
            width: 50px;
            height: 50px;
            padding: 25px;
            border: 1px solid white;
            
        }


@media only screen and (min-width: 1920px) {
    .servicos h3 {
            font-size: 32px;
            grid-column: 2/5;
            grid-row: 1;
            margin: 15px; 
        }

        .servico-1-front, .servico-2-front, .servico-3-front, .servico-4-front, .servico-5-front, .servico-6-front {
            padding: 10px;
        }
        
        .servico-1-back, .servico-2-back, .servico-3-back, .servico-4-back, .servico-5-back, .servico-6-back {
            padding: 10px;
        }
        
        .servicos img {
            width: 50px;
        }

        .servicos h3 {
            grid-column: 2/5;
            text-align: left;
            width: 80%;
            margin: auto;
        }
}

@media only screen and (max-width: 768px) {
    .section-servicos {
        margin-top: 50px;
        padding-top: 50px;
        color: #ffffff;
        display: grid;
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: repeat(7, auto);
        gap: 20px 20px;
    }

    .flip-card-1 {
        grid-row: 2;
        grid-column: 2/8;
    }

    .flip-card-2 {
        grid-row: 2;
        grid-column: 8/14;
    }
    .flip-card-3 {
        grid-row: 3;
        grid-column: 2/8;
    }
    .flip-card-4 {
        grid-row: 3;
        grid-column: 8/14;
    }
    .flip-card-5 {
        grid-row: 4;
        grid-column: 2/8;
    }
    .flip-card-6 {
        grid-row: 4;
        grid-column: 8/14;
    }

    .flip-card-7 {
        grid-row: 5;
        grid-column: 5/11;
        
    }
    .servicos h3 {
        font-size: 22px;
    }
}

@media only screen and (max-width: 450px) {
    .section-servicos {
        margin-top: 50px;
        padding-top: 50px;
        color: #ffffff;
        display: grid;
        grid-template-columns: repeat(13, 1fr);
        grid-template-rows: repeat(7, auto);
        gap: 20px 20px;
    }

    .section-servicos .texto-servicos {
        grid-row: 1;
        grid-column: 2/13;
    }

    .flip-card-1 {
        grid-row: 2;
        grid-column: 2/13;
    }

    .flip-card-2 {
        grid-row: 3;
        grid-column: 2/13;
    }
    .flip-card-3 {
        grid-row: 4;
        grid-column: 2/13;
    }
    .flip-card-4 {
        grid-row: 5;
        grid-column: 2/13;
    }
    .flip-card-5 {
        grid-row: 6;
        grid-column: 2/13;
    }
    .flip-card-6 {
        grid-row: 7;
        grid-column: 2/13;
    } 
    .flip-card-7 {
        grid-row: 8;
        grid-column: 2/13;
    } 
    .servicos h3 {
        font-size: 25px;
    }
}