body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    background-color: #cccccc;
    background-image: url(../images/wallpaper.jpg);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

    header{
        font-size: 16px;
        font-weight: 500;
        height: 200px;
    }

        nav{
            border-bottom-right-radius: 10px;
            margin-right: 30px;
            background-color: #ffffff;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: repeat(12, 1fr);
            align-items: center;
            justify-items: center;
            gap: 10px;
            position: fixed; /* Sticky/fixed navbar */
            width: 98%;
            height: 100px; /*Had to put this for smooth transition because just changing grid the transition is not smooth*/
            transition-duration: 0.4s;
            transition-property: all;
             
        }
            
        nav a {
                text-decoration: none;
                padding: 5px 10px;
                color: black;
                transition-property: color;
                transition-duration:  .4s;
                
            }

                #active {
                    color:  #fbca4a;
                    border-bottom: 4px solid #fbca4a;
                    padding: 5px 10px;
                    border-radius: 5px;  
                }

                nav a:visited {
                    font-style: none;
                }

                nav a:hover {
                    color:  grey;
                    border-bottom: 4px solid #fbca4a;
                    padding: 5px 10px;
                    border-radius: 5px;
                }

            .logomarca {
                margin-left: 50px;
                width: 140px;
                border-radius: 5px;
                grid-column: 1/4;
                transition: 0.4s;
                position: absolute;
                top: -5px;
            }

            .container-btn {
                grid-column: 5/11;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
                .btn-barra-nav {
                   padding: 5px 10px;
                   border-radius: 5px;
                }

/*-------------Select button for changing the language---------*/

            .custom-select {
                margin-right: 10px;
                width: 42px;
                grid-column: 12/13;
                position: relative;
            }

                .custom-select select {
                    display: none; /*hide original SELECT element: */
                }
                
                .select-selected {
                    background-color: #80808083;
                    border-radius: 5px;
                }
                
                .select-selected:after { /* Style the arrow inside the select element: */
                    position: absolute;
                    content: "";
                    top: 11px;
                    right: 4px;
                    width: 0;
                    height: 0;
                    border: 6px solid transparent;
                    border-color: #fff transparent transparent transparent;
                }

                .select-selected.select-arrow-active:after {/* Point the arrow upwards when the select box is open (active): */
                    border-color: transparent transparent #fff transparent;
                    top: 7px;
                }

                .select-items div,.select-selected { /* style the items (options), including the selected item: */
                    color: #ffffff;
                    padding: 4px 4px;
                    border: 1px solid transparent;
                    cursor: pointer;
                }

                .select-items { /* Style items (options): */
                    position: absolute;
                    background-color: #808080;
                    border-radius: 5px;
                    top: 100%;
                    left: 0;
                    right: 0;
                    z-index: 99;
                }
                
                .select-hide { /* Hide the items when the select box is closed: */
                    display: none;
                }
                
                .select-items div:hover, .same-as-selected {
                    background-color: rgba(0, 0, 0, 0.4);
                    border-radius: 5px;
                }

/*----------------Menu hamburger-------------------------*/
            .hamburger-menu {
                grid-column: 10/13;
                display: none;
                
            }

            .overlay {
                /* Height & width depends on how you want to reveal the overlay (see JS below) */   
                height: 100%;
                width: 0;
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                right: 0;
                top: 0;
                background-color: rgba(36, 35, 35, 0.9); /* Black w/opacity */
                overflow-x: hidden; /* Disable horizontal scroll */
                transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
            }
            
            /* Position the content inside the overlay */
            .overlay-content {
                position: relative;
                top: 25%; /* 25% from the top */
                width: 100%; /* 100% width */
                text-align: center; /* Centered text/links */
                margin-top: 0px; /* 30px top margin to avoid conflict with the close button on smaller screens */
            }
            
            /* The navigation links inside the overlay */
            .overlay a {
                padding: 8px;
                text-decoration: none;
                font-size: 36px;
                color: #818181;
                display: block; /* Display block instead of inline */
                transition: 0.3s; /* Transition effects on hover (color) */
            }
            
            /* When you mouse over the navigation links, change their color */
            .overlay a:hover, .overlay a:active {
                color: #fbca4a;
            }
            
            /* Position the close button (top right corner) */
            .overlay .closebtn {
                position: absolute;
                top: 20px;
                right: 45px;
                font-size: 60px;
            }


    main {
        height: 3000px;
    }

/*----------------Slide show-------------------------*/    
        .slider {
            height: 400px;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: 1fr;
            position: relative;
            overflow: hidden;
            z-index: -1;
        }

        .slide {
            grid-column: 2/12;
            height: 392px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: 1fr;
            position: absolute;
            opacity: 0;
            transition: 0.7s ease-in-out;
            border: 4px solid #ffffff;
            border-radius: 10px;
        }
    
            .slide.current {
                opacity: 1;
            }

                .slide:first-child {
                    background: url('../images/lauching.jpg') no-repeat center top/cover;
                    background-size: contain;
                    background-color:  #fbca4a;
                }
                .slide:nth-child(2) {
                    background: url('../images/howitworks.png') no-repeat center top/cover;
                    background-size: contain;
                    background-color:  #fbca4a;
                }
                .slide:nth-child(3) {
                    background: url('../images/revisao.png') no-repeat center top/cover;
                    background-size: contain;
                    background-color:  #fbca4a;
                }
                .slide:nth-child(4) {
                    background: url('../images/whatwedo.png') no-repeat center top/cover;
                    background-size: contain;
                    background-color:  #fbca4a;
                }
                .slide:nth-child(5) {
                    background: url('../images/outstanding.png') no-repeat center top/cover;
                    background-size: contain;
                    background-color:  #fbca4a;
                }

            .content-slide {
                grid-column: 1/13;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                align-items: center;
                justify-items: center;            
            }
/*----------------Slide show buttons-------------------------*/
            
            a#prev {
                text-decoration: none;
                padding-bottom: 10px;
                color: rgba(255, 255, 255, 0.4);
                position: absolute;
                top: 360px;
                left: 10%;
                z-index: 1;
                transition-property: color;
                transition-duration: 0.4s;
                
            }
            
            a#next  {
                text-decoration: none;
                padding-bottom: 10px;
                color: rgba(255, 255, 255, 0.4);
                position: absolute;
                top: 360px;
                right: 10%;
                z-index: 1;
                transition-property: color;
                transition-duration: 0.1s;
            }

            a#prev p, a#next p {
                font-size: 50px;
                margin: 0;
                padding: 0;
            }

            a#prev:hover, a#next:hover {
                color: rgba(31, 31, 31, 0.8);
                transition: ease-in-out 0.2s;
            }

    footer {
        background-color: rgb(19, 19, 19);
        height: auto;
        width: 98%;
        border-top-right-radius: 20px;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, auto);
    }
        

        footer .adress {
            margin: 0;
            padding-left: 0;
            grid-column: 1/4;
            grid-row: 2;
            color: rgba(167, 165, 165, 0.5);
            font-size: 12px;
         
        }
            img.logo-footer{
                grid-row: 1;
                grid-column: 5/9;
                width: 80px;
                margin: 10px;
                border-radius: 5px;
            }

            .pin-adress{
                display: flex;
                justify-content: left;
            }

            footer h2 {
                font-size: 16px;
                margin-left: 10px;
            }

@media only screen and (max-width: 768px) {

    nav{
        margin-right: 15px;
        
        height: 70px;
    }

    .container-btn {
        display: none;
    }

    .custom-select {
        display: none;
    }

        nav a:hover {
            color: black;
            border-bottom: none;
           
        }

        .logomarca {
            width: 110px;
        }

    .hamburger-menu {
        display: flex;
        align-items: center;
        border-radius: 10px;
        
    }

        .hamburger-menu a {
            display: flex;
            align-items: center; /*correct bug in the nav for safari and ios mobile*/
            padding:0px 10px;
            
        }

        .hamburger-menu a:hover {
            display: flex;
            padding:0px 10px;
            
        }

        .hamburger-menu img {
            width: 20px;
            margin-right: 10px;
        }

        .hamburger-menu p {
            margin-right: 0px;
        }

    .hamburger-menu:hover, .hamburger-menu:active {
        background-color: rgba(54, 54, 54, 0.2);
        padding: 0px;
    }

    a#prev:hover, a#next:hover {
        color: rgba(255, 255, 255, 0.8); /*so the button does not keep hovered on the phone*/
        
    }

}
@media only screen and (max-width: 450px) {
    .hamburger-menu  {
        margin-right: 20px; /*adjust the menu icon for mobile*/
        
    }
}

@media only screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    } 
}
    
